<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.sti">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/stinew"
        android:label="@string/app_name"
        android:roundIcon="@drawable/stinew"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
        <activity
            android:name=".login_registration.registration_sti"
            android:theme="@style/AppThemered"></activity>
        <activity
            android:name=".login_registration.login"
            android:theme="@style/AppThemered">
            >
        </activity>
        <activity
            android:name=".main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".checkHTML" />
        <activity android:name=".dates" />
        <activity android:name=".About" />
        <activity android:name=".home" />
        <activity android:name=".landing" />
        <activity android:name=".Check" />
        <activity android:name=".registration" />
        <activity android:name=".post_payment" />
        <activity android:name=".Pre_payment" />
        <activity android:name=".MainActivity" />

        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>